html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;

  background-color:white;
  background-image: linear-gradient(#EEE 2px, transparent 2px),
  linear-gradient(90deg, #EEE 2px, transparent 2px),
  linear-gradient(rgba(230,230,230,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(230,230,230,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.navbar {
  background-color: #269;
  border-color: #063152;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #8fb9d9;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #063152;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #f5f5f5;
}
hr {
  border-top-color: #CCC;
}
